/* @import url('https://fonts.google.com/specimen/Young+Serif');
@import url('https://fonts.google.com/specimen/Outfit');
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Young Serif', sans-serif;
    background-color: rgb(242, 231, 169);
    width: 100%;
    height: auto;
}

main {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    background-color: whitesmoke;
    width: 25%;
    padding: 30px;
}

.topimg {
   border-radius: 20px;
   margin-bottom: 15px;
}

.img {
    background-image: url(/images/image-omelette.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 420px 200px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
}